#decors_canvas, #fond_canvas {
	position: absolute;
    width: 1000px;
    height: 600px;
    border: 2px dashed black;
	
    left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, 0%); /* décalage de 50% de sa propre taille */
    z-index:1;
}

#fond_canvas {
	opacity : 0.5;
	z-index:0;
}
#btn, #btn_next {
    position: absolute;
	top : 500px;
	width: 100px;
    height: 50px;
	left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, 0); /* décalage de 50% de sa propre taille */
    z-index:2;
	font-size: 16px;
}

#btn_next{
	display : none;
	left: 55%; /* à 50%/50% du parent référent */
}
